body{
    margin: 0;
    background-color: rgb(210, 210, 196);
}
.wrapper{
    background-color: beige;
    width: 70%;
    text-align: center;
    padding: 20px;
    margin: auto;
}
.inputs{
    display: flex;
    flex-direction: column;
    
}
input{
    margin-bottom: 5px;
}
.save-btn{
    width: 50px;
}
img{
    margin-top: 5px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}
li{
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-align: left;
}
p{
    margin:0;
}
