*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    margin: 0;
    background-color: rgb(210, 210, 196);
    background-image: url("https://txtrs.ru/textures/wood/wood-3.jpg");

}
.wrapper{
    background-color: beige;
    width: 70%;
    text-align: center;
    padding: 20px;
    margin: auto;
    height: 100%;
    background-image: url("https://png.pngtree.com/background/20220720/original/pngtree-crease-texture-of-rolled-paper-picture-image_1677438.jpg");
    box-shadow: 3px 20px 5px black;}
.inputs{
    display: flex;
    flex-direction: column;  
    width: 50%;
    margin: auto;
}
input{
    margin-bottom: 5px;
    border: none;
    border-bottom: 2px solid gray;
}
.save-btn{
    width: 50px;
}
img{
    margin-top: 5px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
li{
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-align: left;
}
p{
    margin:0;
}
.main-modal{
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.inner-modal{
    width: 400px;
    height: 400px;
    background-color: rgb(79, 67, 52);
    color: aliceblue;
    margin: auto;
    text-align: center;
}
.close{
    text-align: end;
}
button{
    width: 60px;
    border-radius: 2px;
}
button:hover{
    background-color: beige;
    transition: 0.2s;
}